.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	vertical-align: auto;
}

.dropdown-content li {
	padding: 10px;
}
.dropdown:hover .dropdown-content {
	display: block;
}

#nav-list ul {
	list-style-type: none;
}
