:root {
	--bg-color: rgb(46, 46, 46);
	--txt-color: rgb(201, 201, 201);
}

body {
	background-color: rgb(46, 46, 46);
	color: rgb(201, 201, 201);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
}
ul {
	display: inline;
}

#home-h1 {
	font-size: 3em;
	margin: 30px 0 30px 0;
}

button {
	margin-left: 10px;
	margin-right: 10px;
}
button {
	font-size: 1em;
	background-color: var(--txt-color);
	border: none;
	color: var(--bg-color);
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	transition: background-color 0.5s, color 0.5s;
}

button:hover:enabled {
	background-color: var(--bg-color);
	color: var(--txt-color);
}

#hangman {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}
