:root {
	--bg-color: rgb(46, 46, 46);
	--txt-color: rgb(201, 201, 201);
}

body {
	background-color: rgb(46, 46, 46);
	color: rgb(201, 201, 201);
	text-align: center;
}
ul {
	display: inline;
}

a {
	margin: 10px;
}
button,
a {
	background-color: var(--txt-color);
	border: none;
	color: var(--bg-color);
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	transition: background-color 0.5s, color 0.5s;
}

button:hover:enabled,
a:hover {
	background-color: var(--bg-color);
	color: var(--txt-color);
}
#nav-list ul {
	list-style-type: none;
}
